---
layout: base
---
{% assign keiryu = site.keiryu | sort: 'name' %}
{% assign tsksr = site.tsksr | sort: 'name' %}
{% assign propos = site.propos | sort: 'name' %}
{% assign contact = site.contact | sort: 'name' %}
{% assign posts = site.posts | sort: 'date' %}

<div class="post-list post--center w-1/1">
    {% for post in keiryu %}
        <div class="post">
            <h1 class="post__title">{{ post.title }}</h1>
            {{ post.content }}
        </div>
    {% endfor %}
</div>

<div class="post-list post--center w-1/1">
    <iframe src="https://www.youtube.com/embed/-Ga0I9iV3Kk?si=bBnMQRLqtxOZ8cmY" title="Tenshin Shoden Katori Shinto Ryu" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>

<div class="post-list post--center w-1/1">
    {% for post in tsksr %}
        <div class="post">
            <h1 class="post__title">{{ post.title }}</h1>
            {{ post.content }}
        </div>
    {% endfor %}
</div>

<div class="post-list post--center w-1/1">
    {% for post in propos %}
        <div class="post">
            <h1 class="post__title">{{ post.title }}</h1>
            {{ post.content }}
        </div>
    {% endfor %}
</div>

<div class="post-list post--center w-1/1">
    {% for post in contact %}
        <div class="post">
            <h1 class="post__title">{{ post.title }}</h1>
            {{ post.content }}
            </div>
    {% endfor %}
</div>

<div class="post-list post--center w-1/1">
    {% for post in posts %}
        <div class="post">
            <h1 class="post__title">{{ post.title }}</h1>
            {{ post.content }}
        </div>
    {% endfor %}
</div>