<!DOCTYPE HTML>
<html class="no-js" lang="fr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#" itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="fb:app_id" content="{{ site.fb_app_id }}" />
    <meta property="og:type" content="business.business" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:locale" content="fr_CH" />

    <meta property="business:contact_data:street_address" content="{{ site.street }}" />
    <meta property="business:contact_data:locality" content="{{ site.city }}" />
    <meta property="business:contact_data:postal_code" content="{{ site.zip }}" />
    <meta property="business:contact_data:country_name" content="{{ site.country }}" />
    <meta property="place:location:latitude" content="{{ site.latitude }}" />
    <meta property="place:location:longitude" content="{{ site.longitude }}" />

    <meta itemprop="name" property="og:title" content="{{ site.title }}" />
    <meta itemprop="image" property="og:image" content="{{ '/files/facebook.jpg' | absolute_url }}" />
    <meta itemprop="url" property="og:url" content="{{ site.url }}/{{ page.url }}" />
    <meta itemprop="description" property="og:description" content="{{ site.description }}" />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@{{ site.twitter_username }}" />
    <meta property="twitter:creator" content="@ANDco_o" />


    <link href="{{ '/styles/main.css' | absolute_url }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
    <link href="{{ '/styles/print.css' | absolute_url }}?{{site.time | date: '%s%N'}}" rel="stylesheet" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">

    <link rel="canonical" href="{{ site.url }}/{{ page.url }}">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.jpg">

    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
</head>

<body class="container">
    <script type="text/javascript">
        var github_url = 'https://studioandco.github.io/';
        var current = window.location.href;
        if(current.indexOf(github_url) === 0) {
            window.location.href = '{{ page.url | absolute_url}}';
        }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1V2CBEVGF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

    gtag('config', 'G-Z1V2CBEVGF');
    </script>

    <header class="container__header">
        <h1>Entre Deux</h1>
    </header>

    <nav class="nav container__nav"></div>
        <input class="nav__toggle" type="checkbox">
        <div class="nav__hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav__list">
            <li><p class="nav__item nav--border-bottom ">Bushinkan > Liens pratiques</p></li>
            <li><a href="https://bushinkan.ch/" class="nav__item nav--border">Bushinkan</a></li>
            <li><a href="https://bushinkan.ch/stages-et-events-2/" class="nav__item nav--border">stages et événements</a></li>
            <br>
            <li><p class="nav__item nav__item--title nav--border-bottom">渓流道場 > contacts</p></li>
            <li><a href="mailto:info@keiryu.ch" class="nav__item nav--border">info@keiryu.ch</a></li>
        </ul>
    </nav>

    <div class="container__content">
        <div class="grid grid--center grid--middle mrgt">
            <div class="grid__item pdg mrgl box box--tight box--default sm-w-1/1">
            {{ content }}
            </div>
    </div>

    <!--
    <footer class="container__content footer align-center">
        <div class="grid grid--center">
            <address class="grid__item pdg mrgl box box--tight box--default sm-w-1/1">
                    <div class="post-list post--center w-1/1 text-center">
                    {{ site.title }} |
                    {{ site.street }} |
                    {{ site.zip }} {{ site.city }} |
                    {{ site.state }} - {{ site.country }} |
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a><br><br>
                    designed by <b><a href="http://www.sonnsone.ch" target="blank">Sonnsone</a></b>
                    </div>
            </address>
        </div>
    </footer>
    -->

    <script type="text/javascript" src="{{ '/javascripts/main.js' | absolute_url }}?{{site.time | date: '%s%N'}}"></script>
    <script type="text/javascript">
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create', '{{ site.ga }}', 'auto');ga('send', 'pageview');
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
